*{
	margin: 0 auto;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}
body{
	background: #f5f5f5;
	overflow-x: hidden;
}
header{
	width: 100%;
	height: 271px;
	// background: yellow;
}

/*最上面的那张图片*/ 
header .top-header{
	text-align: center;
	width: 100%;
	height: 80px;
}
header>.top-header>a>img{
	width: auto;
	height: 80px;
}
header>.top-container{
	width: 100%;
	height: 36px;
	background: #cdcdcd;
}
header>.top-container>ul{
	// background: red;
	width: 1240px;
	height: 36px;
}
header>.top-container>ul>li{
	line-height: 36px;
	float: left;
	color:#bfbfb;
	font-size: 12px;
}
header>.top-container>ul>li>a{
	margin: 0 10px;
}
header>.top-container>ul>li:nth-child(3){
	margin-left: 790px;
}
header>.top-main{
	width: 1240px;
	height: 118px;
	// background: cyan;
}
header>.top-main>a{
	float: left;
	display: block;
	width: 150px;
	height: 100%;
	// background: red;
	line-height: 118px;
}
/*logo部分*/ 
header>.top-main>a>h1{
	background: url(../img/2.png)no-repeat center center;
	text-indent: -9999px;
}
header>.top-main>.header-tools{
	// background: #fff;
	float: left;
	margin-left: 220px;
	width: 740px;
	height: 76px;
	
}
/*表单部分*/ 
header>.top-main>.header-tools>form{
	width: 535px;
	height: 42px;
	// background: yellow;
	float: left;
	padding-top: 30px;
}
header>.top-main>.header-tools>form>#iput{
	border: 2px solid #23ac38;
	width: 434px;
	height: 42px;
	padding-left: 14px;
	padding-right: 14px;
	float: left;
}
header>.top-main>.header-tools>form>#button{
	
	outline: none;
	float: left;
	width: 60px;
	height: 46px;
	border: 2px;
	background: #23ac38 url(../img/head-icons.png)no-repeat 24px -110px;
	padding: 1px 6px 1px 6px;
	
}
header>.top-main>.header-tools>form>#button:hover{
	background-color: #23862a;
}
/*购物车部分*/ 
header>.top-main>.header-tools>.topshop{
    position: relative;
	float: right;
	line-height: 42px;
	width: 158px;
	height: 42px;
	border: 1px solid #cdcdcd;
	margin-top: 34px;
	text-align: center;
	background: #ddd;
	font-size: 12px;
	color: #666;
}
header>.top-main>.header-tools>.topshop>i{
	
	display: inline-block;
	width: 20px;
	height: 15px;
	line-height: 42px;
	margin: 0 6px -3px 7px;
	background: url(../img/head-icons.png)0px 0px no-repeat;
}

header>.top-main>.header-tools>.topshop>.alert{
	display: none;
	position: absolute;
	top: 40px;
	right: 0px;
	width: 380px;
	height: 250px;
	text-align: center;
	line-height: 300px;
	background: #fff;
	box-shadow: 0px 2px 1px 0px #cdcdcd;


}
header>.top-main>.header-tools>.topshop>.alert>a{
	color: #23ac38
}
header>.top-main>.header-tools>.topshop:hover{
	z-index:10001;
	border-bottom: 0px;
	

}
/*显示购物车*/ 
header>.top-main>.header-tools>.topshop:hover .alert{
	display: block;
	
}
header>.top-main>.header-tools>p{
	clear: both;
	height: 20px;
	width: 545px;
	// background: blue;
	float: left;
}
header>.top-main>.header-tools>p>span{
	display: inline-block;
	margin-right: 20px;
	font-size: 12px;
	color: #bfbfbf;

}
header>.top-main>.header-tools>p>span:hover{
	color: orange;
}
/*二维码*/ 
#box{
	float: right;
	text-align: center;
    padding: 5px;
	width: 70px;
	height: 70px;
	background: #fff;
}
#box>img{

	width: 60px;
	height: 60px;
}


header>.nav{
	position: relative;
	width: 1240px;
	height: 39px;
	background: #cdcdcd;
}
header>.nav>.nav-left{
	position: relative;
	vertical-align: middle;
	line-height: 37px;
	text-align: center;
	overflow: hidden;
	width: 210px;
	height: 37px;
	float: left;

	background: #666;
}
header>.nav>.nav-left>a{
	margin-top: 5px;
	display: inline-block;
	float: left;
	margin-left: 15px;
	width: 26px;
	height: 26px;
	background: url(../img/head-icons.png)no-repeat 3px -300px;
}
header>.nav>.nav-left>span{

	display: inline-block;
	margin-left: 10px;
	float: left;
	color: #fff;
	font-size: 15px;
}
/*上部二级导航栏*/ 
header>.nav>.u1{
	width: 700px;
	height: 37px;
	float: left;
	left: 50px;
	text-align: center;
	position: relative;
	z-index: 999;
}
header>.nav>.u1>.li1{
	float: left;
	font-size: 15px;
	margin-right: 26px;
	line-height: 37px;
}
header>.nav>.u1>.li1>.a2{
	color: black;
}
header>.nav>.u1>.li1>.u2{
	box-shadow: 0px 2px 1px 0px #cdcdcd;

	width: 1260px;
	height: 230px;
	background:#fff;
	position: absolute;
	top: 37px;
	left: -290px;
	display: none;
	margin-left: 20px;
	border-top: 1px solid #cdcdcd;
}
header>.nav>.u1>.li1>.u2>.li2{
	width: 200px;
	height: 230px;
	background: #fff;
	float: left;
}
header>.nav>.u1>.li1>.u2>.li2>.a3{
	margin-top: 30px;
	display: block;
	height: 132px;
	border-right:1px solid #cdcdcd;
}
header>.nav>.u1>.li1>.u2>.li2>.a4{
	font-size: 13px;
	color: black;
	display: block;
	margin-top:10px;
}
header>.nav>.u1>.li1>.u2>.li2>.a4>p{
	color: red;
	margin-top: -20px;
}
/*轮播开始*/ 
#container{
 position: relative;
 text-align: center;

 width: 100%;
 height: 420px;
 /*margin: 20px auto;*/
 }
  
 .pic li {
 position: absolute;
 top: 0;
 left: 0;
 height: 448px;
 width: 100%;
 display: none;
 }
 .pic li img {
 width:100%;
 height: 448px;
 }
 #position{
 position: absolute;
 bottom:0;
 left: 50%;
margin-left: -200px;
 opacity: 0.4;
 width: 400px;
 text-align: center;
 }
 #position li{
 width: 10px;
 height: 10px;
 margin:0 2px;
 display: inline-block;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 background-color: #afafaf;
 }
 #position .cur{
 background-color: #ff0000;
 }
 
 .arrow { 
 cursor: pointer;
 display: none; 
 line-height: 39px; 
 text-align: center; 
 font-size: 36px; 
 font-weight: bold; 
 width: 40px; 
 height: 40px; 
 position: absolute; 
 z-index: 2; 
 top: 50%;
 margin-top: -20px; /*width的一半*/
 background-color: RGBA(0,0,0,.3); 
 color: #fff;
 }
 .arrow:hover { 
 background-color: RGBA(0,0,0,.7);
 }
 #container:hover .arrow { 
 display: block;
 }
 #prev { 
 left: 20px;
 }
 #next { 
 right: 20px;
 }
 /*左侧二级导航栏*/
 /*二级导航栏*/
#container>.dh_1{
	width: 210px;
	height: 448px;
	background: rgba(255,255,255,0.12);
	/*float: left;*/
	position: absolute;
	left: 50%;
	margin-left: -620px;

}
#container>.dh_1>li[class]{
	width: 210px;
	height: 56px;
	background: #cdcdcd;
	cursor: pointer;
   
}
#container>.dh_1>li[class]:hover{
	background: #fff;
}
#container>.dh_1>li>img{
	width: 26px;
	height: 26px;
	line-height: 56px;
	margin-top: 15px;
	margin-left: 20px;
	float: left;
}
#container>.dh_1>li>a{
	display: block;
	float: left;
	margin-top: 17px;
	font-size: 14px;
	margin-left: 28px;
}
#container>.dh_1>li>.dh_2{
	width: 600px;
	height: 448px;
	position: absolute;
	left: 210px;
	top: 0px;
	background:#fff;
	display: none;
	box-shadow: 0px 2px 1px 0px #cdcdcd;

	z-index: 8888;
}
#container>.dh_1>li>.dh_2>li{
	height: 56px;
	border-bottom: 1px dashed #cdcdcd;
	width: 600px;
	line-height: 56px;
}
#container>.dh_1>li>.dh_2>li>span:nth-child(1){
	display: block;
	float: left;
	font-size: 14px;
	font-weight: 200;
	color: black;
	margin-left: 30px;
	cursor: pointer;

}
#container>.dh_1>li>.dh_2>li>span:nth-child(2){
	display: block;
	float: left;
	font-size: 14px;
	color: #cdcdcd;
	margin-left: 20px;
	cursor: pointer;
}
#container>.dh_1>li>.dh_2>img{
	position: absolute;
	left: 600px;
	top: 0px;
	height: 448px;
}
/*右侧两张图片*/
#container>#rigth_1,#rigth_2{
	right: 50%;
	background: yellow;
	margin-right: -620px;
	margin-top: 10px;
	width: 200px;
	height: 210px;
	position: absolute;
	background-color: rgba(255,255,255,.7);
	-webkit-transition: all 2s ease 0s;
	

}
#container>#rigth_2{
	top: 220px;
}
#container>#rigth_1:hover{
	background: #fff;
}
#container>#rigth_2:hover{
	background: #fff;
} 

/*明星单品*/
 h2{
 	clear: both;
 	width: 1240px;
 	color: #333;
 	font-size: 24px;
 	margin-top: 40px;
 }
 /*滚动轮播*/
.wrap{
position: relative;
width: 1240px;
height: 300px;
margin-top: 30px;
overflow: hidden;

}
.wrap>ul{
width:10040px;
position: absolute;
height: 300px;
}

.wrap>ul>li{
float: left;
text-align: center;
padding: 0px 35px 0px 35px;
width: 166px;
margin-right: 15px;
height: 300px;
text-align: center;
background: #fff;

}
.wrap>ul>li>a{
	display: block;
	margin-top: 30px;
	width: 150px;
	height: 150px;
}
.wrap>ul>li>img{
	
	width: 150px;
	height: 150px;
}
.wrap>ul>li>p{
	margin-top: 20px;
	color: red;
}
.wrap>ul>li>h5{
	margin-top: 20px;
	color: #666;
	font-size: 12px;
}
/*显示向左向右的指向*/ 
.wrap:hover #span-1{
	display: block;

}
.wrap:hover #span-2{
	display: block;

}
#span-1{
position: absolute;
display: none;
left: 0px;
top: 50%;
width: 30px;
background:#666;
color: #fff;
height: 40px;
margin-top: -20px;
text-align: center;
}
#span-1>p{
	line-height: 40px;
}
#span-2{
display: none;
vertical-align: middle;
position: absolute;
text-align: center;
right: 0px;
top: 50%;
width: 30px;
background: #666;
color: #fff;

height: 40px;
margin-top: -20px;
} 
#span-2>p{
	line-height: 40px;
}
/*手机配件*/
 .floorbox{
 	clear: both;
 	width: 1240px;
 	height: 630px;
 	margin-top: 30px;
 	// background: pink;
 }
 .floorbox>.foorleft{
 	float: left;
 	height: 630px;
 	width: 236px;
 	
 }
 .floorbox>.foorleft>a:nth-child(1){
 	
 	height: 460px;
 	display: block;
 	width: 236px;

 }
 .floorbox>.foorleft>a:nth-child(2){
 	margin-top: 30px;
 	height: 140px;
 	display: block;
 	width: 236px;

 }
 .floorbox>.foorright{
 	float: left;
 	width: 1004px;
 	height: 630px;
 }
 .floorbox>.foorright>ul>li{
 	text-align: center;
 	padding: 0px 35px 0px 35px;
 	margin-bottom: 30px;
 	float: left;
 	width: 166px;
 	height: 300px;
 	position: relative;
	-webkit-transition:all .2s linear 0s;	

 	margin-left: 15px;
 	background: #fff;
 }
 /*鼠标移到商品的过渡效果*/ 
 .floorbox>.foorright>ul>li:hover{
		top: -3px;
		-webkit-box-shadow: 0px 3px 3px 3px #cdcdcd;
		transform: translate3d(0, -2px, 0);
}
.floorbox>.foorright>ul>li>a{
	display: block;
	margin-top: 20px;
}
 .floorbox>.foorright>ul>li>img{
 	// margin-top: 20px;
 }
 .floorbox>.foorright>ul>li>h5{
 	margin-top: 20px;
 	color: #666;
 	font-size: 12px;
 }
 .floorbox>.foorright>ul>li>p{
 	margin-top: 20px;
 	color: red;
 	font-size: 15px;
 }
 /*脚部 第一排*/
.footer1{
	width: 1250px;
	height: 94px;
	border: 1px solid #cdcdcd;
	background: #fff;
	margin-top: 42px;
	overflow: hidden;
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	line-height: 94px;
}
.footer1>.footer1-1,.footer1-2{
	text-align: center;
	float: left;
	width: 409.19px;
	height: 60px;
	text-align: center;	
	line-height: 60px;
	margin-top: 20px;
	border-right: 1px solid #E8E8E8;
	float: left;

}
.footer1>.footer1-3{
	text-align: center;
	float: left;
	width: 409.19px;
	height: 60px;
	text-align: center;	
	line-height: 60px;
	margin-top: 20px;
	float: left;
}
.footer1>div>i{
	display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    vertical-align: top;
    margin: 10px 10px 0 0;
    border: 2px solid #23AC38;
    border-radius: 20px;
    color: #23AC38;
    font-style: normal;
    font-weight: normal;
}
/*脚部第二排*/
.footer2{
	width: 1250px;
	height: 250px;
	background: #fff;
}
/*设置dl*/
.footer2>dl{
	width: 198px;
	height: 210px;
	float: left;
	margin-left: 100px;
	margin-top: 30px;
}
.footer2>dl>dt{
	font-size: 14px;
}
.footer2>dl>dd{
	font-size: 12px;
	color: #cdcdcd;
	margin-top: 20px;
}
.footer2>#aa{
	width: 248px;
	height: 210px;
}
.footer2>dl>dd>a{
	color: #4ABA00;
	font-size: 20px;
}
.footer2>dl>dd>a>span{
	font-size: 12px;
}
/*微信图片*/
.footer2>ul{
	width: 200px;
	height: 210px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;

}
.footer2>ul>li{
	width: 200px;
	height: 80px;
	line-height: 80px;
	margin-top: 20px;
	position: relative;
}
.footer2>ul>li>img{
	margin-right: 15px;
	line-height: 80px;	
}
.footer2>ul>li>img:nth-child(1){


}
.footer2>ul>li>img:nth-child(2){
	width: 80px;
	height: 80px;

}
/*最后一排*/
.footer3{
	width: 1250px;
	height: 104px;
	background: #fff;
	clear: both;
	text-align: center;

}
.footer3>p{
	width: 1250px;
	font-size: 12px;
	color: #cdcdcd;
	height: 22px;
	line-height:104px;
}
/*左侧爬梯*/
@media screen and (max-width:1390px) {
    div.elevator {
        margin-left: -670px;
    }
}
.elevator {
    position: fixed;
    display: none;
    top: 100px;
    z-index: 99999;
    left: 50%;
    margin-left: -700px;
    width: 45px;
    background: #32333d;
}
.elevator li {
    padding: 1px 5px 10px;
    position: relative;
}
.elevator li ~ li:before {
    content: "";
    position: absolute;
    top: 0;
    width: 35px;
    display: block;
    height: 1px;
    background: #41424e;
}
.elevator li p {
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    height: 29px;
    overflow: hidden;
    padding: 10px 0 0;
    text-align: center;
    cursor: pointer;
}
.elevator li:hover,.elevator li.active {
    background: #23ac38;
}
.elevator li:hover:before,.elevator li.active:before,.elevator li:hover + li:before,.elevator li.active + li:before {
    display: none;
}
.elevator li.elevtotop {
    padding-top: 1px;
    cursor: pointer;
}
.elevator li.elevtotop:hover {
    background: transparent;
}
/*右侧爬梯*/ 
#leftsup{
	position: fixed;
	top: 50%;
	right: 0px;
	// display: none;
	margin-top: -22px;
	// background: #fff;
	width: 44px;
	height: 129px;
}
#leftsup>li{
	width: 40px;
	height: 40px;
	margin-top: 3px;
	background: #636363;
}
#shang{
	// display: none;
}
#leftsup>li:hover{
	background: #23ac38;
}
/*右侧的弹出栏*/
.weichat{
	display: none;
	width: 160px;
	height: 170px;
	font-size: 12px;
	border: 1px solid #cdcdcd;
	text-align: center;
	position: absolute;
	top: -130px;
	left: -170px;
	z-index: 333;
	background-color: #fff;
} 
.shouji{
	display: none;
	padding-top: 20px;
	width: 160px;
	height: 140px;
	font-size: 12px;
	border: 1px solid #cdcdcd;
	text-align: center;
	position: absolute;
	top: -50px;
	left: -170px;
	z-index: 333;
	background-color: #fff;
} 
.shouji>img{
	width:130px;
	height: 100px;
}